<div id="<%= dom_id todo_item %>">
  <p>
    <strong>Name:</strong>
    <%= todo_item.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= todo_item.status %>
  </p>

  <p>
    <strong>Todo lists:</strong>
    <%= todo_item.todo_list_id %>
  </p>

</div>
